:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* --- Default colors (dark theme) --- */
    --color-background: #1E1E1E;
    --color-background-secondary: #252525;
    --color-surface: #333333;

    --color-text-primary: #CCCCCC;
    --color-text-secondary: #888888;
    --color-text-headings: #E0E0E0;

    /* --- Semantic Colors --- */
    --color-info: #4A85A4;
    --color-warning: #D1A74D;
    --color-success: #5D9977;
    --color-error: #be4a4a;
}

[data-theme="light"] {
    /* --- Inverted colors (light theme) --- */
    --color-background: #F4F5F7;
    --color-background-secondary: #FFFFFF;
    --color-surface: #D9D9D9;

    --color-text-primary: #212529;
    --color-text-secondary: #6c757d;
    --color-text-headings: #000000;

    /* --- Semantic Colors --- */
    --color-info: #3B71CA;
    --color-warning: #B8860B;
    --color-success: #4C8567;
    --color-error: #B04040;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-headings);
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    line-height: 1.6;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

/* Disable small padding to prevent small scrolling */
body, html {
    margin: 0;
    padding: 0;

    /* Scrollbar styles for Webkit browsers */
    scrollbar-color: var(--color-surface);
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
}

/* Add scroll margin to all elements that can be targets of hash links */
*[id] {
    scroll-margin-top: 2rem;
}

@media (max-width: 700px) {
    :root {
        font-size: 0.5rem;
    }
}

/* Custom Scrollbar Styling */

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-surface);
    border-radius: 8px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}